/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 24px;
}

/* CLASSES FLEX BOX */

.align-centre{
  align-items: center;
}

/* CLASSES DE LARGEURS */

.w-23{
    width: 23%;
}

.w-33{
    width: 33%;
}

.w-48{
    width: 48%;
}

.w-65{
    width: 65%;
}
.w-100{
    width: 100%;
}

/* GENERIQUES */
.container-1000{
    max-width: 1000px;
    margin-left: auto;
    margin: auto;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}



/* HEADER */

/* HERO */

/* SECTION 1 */

#section1{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}

/* SECTION 2 */

/* FOOTER */



.card{
    background-color: #eee3d3;
    text-align: center;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.card2{
    background-color: #eee3d3;
    text-align: center;
    margin-top: 40px;
    border-radius: 30px;
    width: 28%;
    padding: 20px;
}

.card3{
    background-color: #0F7514;
    text-align: center;
    width: 100%;
    border-radius: 30px;
    padding: 20px;
}

.card4{
    background-color: #232121;
    text-align: center;
    width: 100%;
    border-radius: 30px;
    padding: 20px;
}

.card5{
    background-color: bisque;
    text-align: center;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
}



img{
    width: 60px;
}

/* rendre un parent flexible */
.flex {
    display: flex;
    /* rendre les enfants flexible */
    flex-wrap: wrap;
}

.flex-end{
    justify-content: flex-end;
}



.flex-start{
    justify-content: flex-start;
}

.justify-centre{
    justify-content: center;
}

.justify-content{
    justify-content: flex-end;
}

.space-between{
    justify-content: space-between;
}

.align-content{
    align-content: flex-start;
}

.align-items{
    align-items: center;
}

.sticky{
    position: sticky;
    left: 0;
}

.gap-12{
    gap: 12px;
}

.relative{
    position: relative;
}


.absolut{
    position:absolute;
    top: 600px;
    left: 142px;
    width: 40%;
}


a{
    list-style: none;
    text-decoration: none;
    color: black;
}


.cardTemoignage{
    background-color: #eee3d3;
    width: 20%;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
}

.gap5pc{
    gap: 32%;
}


.card-2{
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
}

.card-product{
    width: 28%;
    img{
        width: 100%
    }
}

.margin-top-30{
    margin-top: 30px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.h2{
    color: blanchedalmond;
}

.p{
    color: whitesmoke;
}